.button{
		border: 1px solid #999999; 
		border-top-color: #CCCCCC; 
		border-left-color: #CCCCCC;
		background-color: white;
		color: blue; 
		font: 90% Verdana, Helvetica, Arial, sans-serif;
		font-size: 11px;
		-moz-border-radius: 3px;
}
			
.error{
	color: red;
}

.success{
	color: green;
}

.info_fieldset{
	-moz-border-radius: 7px; 
	border: 1px #dddddd solid;
	margin-bottom: 20px;
	width: 450px;
}
			
.info_fieldset legend{
	border: 1px #1a6f93 solid; 
	color: black; 
	
	font-family: Verdana;
	font-weight: none;
	font-size: 13px;
	
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	
	-moz-border-radius: 3px;
}
			
.button{
	border: 1px solid #999999; 
	border-top-color: #CCCCCC; 
	border-left-color: #CCCCCC;
	
	background-color: white;
	
	color: #333333; 
	
	font: 90% Verdana, Helvetica, Arial, sans-serif;
	
	font-size: 11px;
	-moz-border-radius: 3px;
}
			
/* Left DIV */
.left{
	width: 100px;
	margin: 0px;
	padding: 0px; 
	
	float: left;  
	text-align: right;
}
			
/* Right DIV */
.right{
	width: 250px;
	margin: 0px;
	padding: 0px; 
	float: right; 
	text-align: left;
}
	
.normalLabel{
	float: left; 
	padding: 0px; 
	text-align: left; 
	width: 100px;"
}
	
.normalTextFieldsHeight{
	height: 30px;
}
	
em{ 
	font-weight: normal; 
	padding-right: 1em; 
	vertical-align: top; 
	font-size: 11px;
	//color:red;
}
	
*{ 
	font-family: Verdana; font-size: 96%; 
}
label.error { 
	float: none; color: red; padding-left: .5em; vertical-align: top; 
}